<!--
Nome do autor: Ezequiel de Oliveira Sant'Ana
Data de criacao do arquivo: 26/03/2019
Objetivo sucinto do arquivo: Cria uma aplicacao web com tecnlogias Front-end (AngularJS e Bootstrap)
Referencia: https://cursos.timtec.com.br/course/desenvolvimento-web-com-angularjs/intro
Informacoes adicionais: 
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <cadastraAluno></cadastraAluno>
</body>
</html>