<!--
Nome do autor: Ezequiel de Oliveira Sant'Ana
Data de criacao do arquivo: 26/03/2019
Objetivo sucinto do arquivo: Cria uma aplicacao web com tecnlogias Front-end (AngularJS e Bootstrap)
Referencia: https://cursos.timtec.com.br/course/desenvolvimento-web-com-angularjs/intro
Informacoes adicionais: 
-->

<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSl4yxL94THfwv2Khy501SzeeDv82YyCAf3P1oMaqNDNJuxGJZ ">
    <title>Listar Alunos - CTE</title>
          <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-Edge"/>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" ></link>
</head>

<body>
    <div ng-controller="primeiroController" class="well">
        <p>Olá, {{nome}}. Bem vindo!</p>
        <div ng-class="{'panel panel-success':iniciado, 'panel panel-danger':!iniciado}">
            <div class="panel-heading">
                <h3 class="panel-title">Situação do Curso</h3>
            </div>
            <div class="panel-body">
                <p ng-show="iniciado">Curso em Andamento!</p>
                <p ng-hide="iniciado">Curso Finalizado!</p>
                <p ng-if="!iniciado">Aguarde o próximo curso!</p>
                <p>Preço do Curso: {{valor | currency : 'R$ '}}</p>
                <p>Ultima atualização: {{hoje | date : 'dd/MM/yy'}}</p>
            </div>
        </div>
        <div>
            <label>Definir Preço: </label>
            <input type="number" id="valor" name="valor" ng-model="valor">
        </div>
        <br><br>
        <h3>Alunos Cadastrados</h3>
        <div>
            <label>Pequisar por nome: </label>
            <input type="text" ng-model="filtro">
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>
                        Nome
                        <button ng-click="ordenarPorNome()">Ordernar Por Nome</button>

                    </th>
                    <th>
                        Idade
                        <button ng-click="ordenarPorIdade()">Ordernar Por Idade</button>
                    </th>
                </tr>
                <tr ng-repeat="aluno in alunos | filter: filtro">
                    <td>
                        {{aluno.nome}}
                    </td>
                    <td>
                        {{aluno.idade}}
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <button ng-show="iniciado" ng-click="finalizar()" class="btn btn-danger">Finalizar</button>
        <button ng-hide="iniciado" ng-click="iniciar()" class="btn btn-success">Iniciar</button>
        <br><br>
        <button ng-click="exibeCadastro()" class="btn btn-warning">
            <span ng-hide="cadastrar">Cadastrar</span>
            <span ng-show="cadastrar">Ocultar</span>
        </button>
        <div class="panel panel-primary" ng-if="cadastrar">
            <div class="panel-body">
                <cadastrar-alunos></cadastrar-alunos>
            </div>
        </div>
    </div>
</body>

</html>