<!--
Nome do autor: Ezequiel de Oliveira Sant'Ana
Data de criacao do arquivo: 26/03/2019
Objetivo sucinto do arquivo: Cria uma aplicacao web com tecnlogias Front-end (AngularJS e Bootstrap)
Referencia: https://cursos.timtec.com.br/course/desenvolvimento-web-com-angularjs/intro
Informacoes adicionais: 
-->

<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSl4yxL94THfwv2Khy501SzeeDv82YyCAf3P1oMaqNDNJuxGJZ ">
    <title>Previsão do Tempo - CTE</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-Edge" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" ></link>
</head>

<body>
    <div class="well" ng-controller="previsaoTempoController">
        <h3>Previsao do Tempo</h3>
        <h3>{{tempo.name}}, MG</h3>
        <h4>Local: {{tempo.name}}</h4>
        <h4>Temperatura: {{tempo.main.temp}}</h4>
        <h4>Min:{{tempo.main.temp_min}}C e Max: {{tempo.main.temp_max}}C</h4>
    </div>
</body>

</html>